* {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}


body {
    background-image: url(/assets/—Pngtree—flat\ dark\ programming\ code\ scrambling_990720.png);
    background-size: cover;
}

section {
    background-color:#07d5d5;
}


div a {
    font-family:fantasy;

}

.app {
    background-image: url(/assets/—Pngtree—web\ video\ game\ background_1394789.png);
    background-size: cover;
    background-position: center;
    width: 70%;
    
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 30px;
    border: 5px solid #0ed507;
    box-shadow: 0 0 10px 1px #07ef26;
    margin-top: 150px;
}


.app h1 {
    font-size: 35px;
    color: #18d507;;
    font-style: italic;
    font-weight:bold;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quiz {
    padding: 15px 0;
    margin: 10px;
    margin-top: 30px;
    background-color: #222;
    border-radius: 10px;
    border: 2px solid rgb(42, 240, 121);;
}

.quiz h2 {
    font-size: 25px;
    color: #07d5d5;
    
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:500;
        padding: 5px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.timer {

    border-radius: 25px;
    position: absolute; 
    top:9px; 
    right:10px;
    color: white;
    font-size: 35px;
    padding: 21px;
    padding-top: 19px;
    /*display: none; reomve this comment after finished*/
}

.highScore {

    border-radius: 25px;
    color: white;
    position: absolute;
    top:0px;
    left:10px;
    margin: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 10px;
    padding-top: -5px;
    font-size: 35px;
}

.highScore a {
    text-decoration: none;
    color: white;
}

.makeBig {
    font-size: 55px;
}

.glow {
    
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: rgb(0, 49, 245) 0 0 15px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background: #222;
    color: #07ef26;
    font-size: larger;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    width: 45%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 3px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
    border: 2px dotted rgb(42, 240, 121);

}

.btn:disabled {
    cursor: no-drop;
}

.btn:hover:not([disabled]) {
    background: #0ecdd7;
    color: black;
    scale: 1.1;
    

}

.btn1 {
    width: fit-content;
    border-radius: 100%;
    scale: 1.5;
    color: #e70c0c; 
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    text-shadow: rgb(255, 0, 0) 0 10 30px;

}
.btn1:hover {
    scale: 1.5;
    box-shadow: 0 0 10px 5px #22a707;
    background-image: url(/assets/—Pngtree—vector\ reload\ icon_4017523.png);
    background-size: cover;
    font-size: 1px;
    padding: 20px;
    border: 2px double red;
}

#answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#next-btn {
    background: black;
    color: #07d5d5;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display:none;
    font-size:x-large;
    box-shadow: 0 0 10px 1px #07ef26;
}

.tagAlong {
    color:rgb(0, 225, 255);
   font-weight: 800;
   align-items: center;
    padding: 1px;
    font-size: 40px;
    border-radius: 100%;
    text-shadow: rgb(13, 148, 226) 0 0 15px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7, 7, 7);

    margin-top: 30px;
    font-family:fantasy;
    
}

.correct {
    background: #07ef26;
    color: black;
    scale: 1.05;
}

.incorrect {
    background:rgb(248, 12, 12);
    color: white;
}

#score {
    text-align: center;
}

.result h2 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-left: 30px;
    background-color: #ecff44;
    border-radius: 10px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
