* {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}


body {
    background-image: url(/assets/—Pngtree—web\ video\ game\ background_1394789.png);
    background-size: cover;
}

section {
    background-color:#07d5d5;
}


div a {
    font-family:fantasy;

}

.app {

    width: 70%;
    justify-content: center;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 30px;
    margin-top: 100px;
}


.app h1 {
    font-size: 35px;
    color: #18d507;;
    font-style: italic;
    font-weight:bold;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quiz {
    padding: 15px 0;
    margin: 10px;
    margin-top: 30px;
    width: auto;
    background-image: url(/assets/greenback.png);
  
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: 5px solid white;
}

.quiz h2 {
    font-size: 25px;
    color: #fdfdfd;
    
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:500;
        padding: 5px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.timer {

    border-radius: 25px;
    position: absolute; 
    top:9px; 
    right:10px;
    color: white;
    font-size: 35px;
    padding: 21px;
    padding-top: 19px;
    /*display: none; reomve this comment after finished*/
}

.highScore {

    border-radius: 25px;
    color: white;
    position: absolute;
    top:0px;
    left:0px;
    margin: 5px;
    margin-top: 30px;
    margin-left: 15px;
  
    font-size: 35px;
}

.highScore a {
    text-decoration: none;
    color: white;
}

.makeBig {
    font-size: 55px;
}

.glow {
    
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: rgb(0, 49, 245) 0 0 15px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background: #fffb02;
    color: #10a348;
    font-size: larger;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
    width: 45%;
    border: 5px solid #fbfbfb;
    padding: 10px;
    margin: 10px 3px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;

}

.btn:disabled {
    cursor: no-drop;
   
}

.btn:hover:not([disabled]) {
    background: #22a707;
    color: rgb(255, 255, 255);
    scale: 1.1;
    

}

.btn1 {
    width: fit-content;
    border-radius: 100%;
    scale: 1.5;
    color: #e70c0c; 
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    text-shadow: rgb(255, 0, 0) 0 10 30px;

}

.btn1:hover {
    scale: 1.5;
    box-shadow: 0 0 10px 5px #22a707;
    background-image: url(/assets/—Pngtree—vector\ reload\ icon_4017523.png);
    background-size: cover;
    font-size: 1px;
    padding: 20px;
    border: 2px double red;
}

#answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#next-btn {
    background: rgb(7, 148, 28);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 100px;
    border: 3px solid yellow;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display:none;
    font-size:x-large;
    box-shadow: 0 0 10px 1px #07ef26;
}

#next-btn:hover {
    scale: 1.1;
}

.tagAlong {
    color:rgb(0, 255, 8);
   font-weight: 800;
   align-items: center;
    padding: 1px;
    font-size: 40px;
    border-radius: 100%;
    text-shadow: rgb(183, 226, 13) 0 0 15px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7, 7, 7);

    margin-top: 30px;
    font-family:fantasy;
    
}



#score {
    text-align: center;
}

.result h3 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-left: 30px;
    border-radius: 10px;
    width: 35%;
    text-align: center;
    background-color: #fffb02;
}


.expired {
    color:red;
}

#saveScore {
    background: rgb(7, 148, 28);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display:none;
    font-size:x-large;
    box-shadow: 0 0 10px 1px #07ef26;
}

#saveScore:hover {
    scale: 1.2;
}

.tagalong1 {
    padding-right:3px;
}

.btn2 {
    width: fit-content;
    border-radius: 100%;
    scale: 1.5;
    color: #e70c0c; 
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    text-shadow: rgb(255, 0, 0) 0 10 30px;

}
.btn2:hover {
    scale: 1.5;
    box-shadow: 0 0 10px 5px #22a707;
    background-image: url(/assets/—Pngtree—lily\ pad\ sticker\ icon\ icon_11085252.png);
    background-size: cover;
    font-size: 1px;
    padding: 20px;
    border: 2px double rgb(13, 248, 13);
}

.next-btn1 {
    background: rgb(7, 148, 28);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display:none;
    font-size:x-large;
    box-shadow: 0 0 10px 1px #07ef26;
}

#startBtn {
    background: rgb(7, 148, 28);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding:10px;
    margin: 10px auto 0;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    font-size:x-large;
    box-shadow: 0 0 10px 1px #07ef26;
    
}

#startBtn:hover {
    scale: 1.1;
}

.floatcenter {
    display: flex;
    flex-wrap: wrap;
}

a {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
}

.hide {
    display: none;
}

.app img {
    display: block;
   margin: auto;
 
    max-block-size: 400px;
    border-radius: 25px;
    margin-bottom: -30px;
}

.input {
    background-color: #07ef26;
    color: white;
    text-align: left;
    padding-left: 5px;;
}

.incorrect{
    background-color: rgb(233, 108, 108);
    color: black;
    scale:1.05;
}

.correct{
    background-color: rgb(100, 215, 100);
    color: white;
    scale: 1.1;
}